
    
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.text-color span{
    color: blueviolet;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    color: white;
    
}
.top-banner{
    background-image: url("image/top-banner.png");
    
    background-repeat: no-repeat;
}
.D-big{
    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.color{
    color: blueviolet;
}
.b-shadow{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px grey ;
    border-radius: 10px;

}
.expo-area{
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.l-b{
    border-left: 10px solid rgb(226, 85, 20);
}
.l-bb{
    border-left: 10px solid rgb(192, 20, 226);
}
footer p{
    text-align: center;
}